<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
  <div ng-if="modal.img" class="modal-image-holder">
    <!--<img ng-src="{{modal.img | https}}" alt="{{modal.alt}}"/>-->
    <img ng-src="{{modal.img}}" alt="{{modal.alt}}"/>
  </div>

  <!-- Input -->
  <input ng-if="modal.input.password" placeholder="Enter Password" type="password" class="form-control" ng-model="modal.data.password"/>
  <input ng-if="modal.input.email" placeholder="Enter Email" type="email" class="form-control" ng-model="modal.data.email"/>
  <input ng-if="modal.input.text" type="text" class="form-control" ng-model="modal.data.text"/>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event, modal.data)" ng-bind="button.text" class="btn"></button>
</div>
