<form name="form" ng-submit="submit()" novalidate>

  <!-- NAME -->
  <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
    <label>Name</label>
    <input type="text" name="name" class="form-control" ng-model="service.name" required>
    <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Service name is required.</p>
  </div>

  <!-- Description -->
  <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && !form.description.$pristine }">
    <label>Description</label>
    <input type="text" name="description" class="form-control" ng-model="service.description" required>
    <p ng-show="form.description.$invalid && !form.description.$pristine" class="help-block">Service description is required.</p>
  </div>

  <!-- LOCATION -->
  <div class="form-group" ng-class="{ 'has-error' : form.location.$invalid && !form.location.$pristine }">
    <label>Location</label>
    <input type="text" name="location" id='location' ng-autocomplete class="form-control" ng-model="service.location" details="service.locationDetails" required>
    <p ng-show="form.location.$invalid && !form.location.$pristine" class="help-block">Service category is required.</p>
  </div>

  <!-- Category -->
  <div class="form-group" ng-class="{ 'has-error' : form.category.$invalid && !form.category.$pristine }">
    <label>Category</label>

    <ui-select ng-model="service.category._id" id="category">
      <ui-select-match>{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="category._id as category in categories | filter: $select.search">
        <div ng-bind-html="category.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>

    <p ng-show="form.category.$invalid && !form.category.$pristine" class="help-block">Service category is required.</p>
  </div>

  <!-- Cost -->
  <!--<div class="form-group" ng-class="{ 'has-error' : form.cost.$invalid && !form.cost.$pristine }">-->
    <!--<label>Cost</label>-->
    <!--<input type="text" name="cost" class="form-control" ng-model="service.cost" required>-->
    <!--<p ng-show="form.cost.$invalid && !form.cost.$pristine" class="help-block">Service cost is required.</p>-->
  <!--</div>-->

  <div class="space-top-large">
    <label>Details</label>

    <div ng-show="!service.details.length"><em>No details are defined.</em></div>
    <div ng-repeat="detail in service.details" class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="detail.cost" placeholder="Cost"/>
        </div>
      </div>
      <div class="col-sm-1 text-center">
        for
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="detail.product" placeholder="Product"/>
        </div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-ra-red" ng-click="remove($index)"><i class="fa fa-trash"></i></button>
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-primary" ng-click="add()"><i class="fa fa-plus"></i> Add Detail</button>
    </div>
  </div>

  <div class="space-top-large">
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine">{{save}}</button>
    <a class="space-left-small" ui-sref="{{cancel}}">Cancel</a>
  </div>
</form>
