.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '5 .column.column-1-5';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column-1-5 {
  width: 20%;
}

@media screen and (max-width: 1200px){
  .deckgrid[deckgrid]::before {
    content: '4 .column.column-1-4';
  }

  .deckgrid .column-1-4 {
    width: 25%;
  }
}

@media screen and (max-width: 900px){
  .deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
  }

  .deckgrid .column-1-3 {
    width: 33%;
  }
}

@media screen and (max-width: 640px){
  .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }

  .deckgrid .column-1-2 {
    width: 49%;
  }
}

@media screen and (max-width: 480px){
  .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }

  .deckgrid .column-1-1 {
    width: 100%;
  }
}






.deckgrid .column {
  float: left;
}

.card {
  width: 100%;

  .inner-card {
    width: auto;
    margin: 14px 7px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;

    .title {
      font-weight: bold;
    }

    .text, .title {
      padding: 3px;
      margin: 2px 0;
    }

    img {
      width: 100%;
      cursor: pointer;
    }
  }
}

.post-modal {
  iframe, img, video {
    max-width: 100%;
  }
}
