<div ng-include="'components/navbar/navbar.html'"></div>

<div class="place-page">

  <!-- Information -->
  <div class="container place-info">
    <div class="row">
      <div class="col-md-7">
        <!-- Name -->
        <div class="name">
          <h1>{{place.name}}</h1>

          <a class="btn btn-sm" ui-sref="place.edit({id: place._id})"><i class="fa fa-pencil"></i> Edit</a>
        </div>


        <div class="row space-top-small space-bottom-small">
          <div class="col-md-6">

            <!-- Location -->
            <div class="row space-bottom-small" ng-show="place.location">
              <div class="col-xs-1"><i class="fa fa-lg fa-map-marker"></i></div>
              <div class="col-xs-10">{{place.location}}</div>
            </div>

            <!-- Location -->
            <div class="row space-bottom-small" ng-show="place.phone">
              <div class="col-xs-1"><i class="fa fa-lg fa-phone"></i></div>
              <div class="col-xs-10">{{place.phone}}</div>
            </div>

          </div>
          <div class="col-md-6">
            <div ng-show="user._id">
              <button class="btn btn-sm btn-ra-red" ng-click="follow()" ng-hide="userFollowing"><i class="fa fa-plus"></i> Follow</button>
              <button class="btn btn-sm btn-ra-red-hollow" ng-click="unfollow()" ng-show="userFollowing"><i class="fa fa-minus"></i> Unfollow</button>
            </div>

            <div class="space-top-small">
              <div rating ng-model="rating" state-on="['fa', 'fa-star']" state-off="['fa', 'fa-star-o']" readonly="true"></div>
              <br/>
              <small><em>Based on {{place.ratings.length}} ratings</em></small>
              <br/>
              <button class="btn btn-sm btn-ra-red" ng-click="viewRatings()"><i class="fa fa-comment"></i> Join the discussion</button>
            </div>

          </div>
        </div>

        <!-- Description -->
        <hr/>
        <div>{{place.description}}</div>
      </div>
      <div class="col-md-5">

        <!-- Map -->
        <div ng-if="place.locationDetails">
          <map zoom="12" center="[35.910419, -79.049592]" scrollwheel="false"></map>
        </div>

      </div>
    </div>
  </div>

  <!-- Photos -->
  <!--<div class="photo-viewer space-top-medium">-->
    <!--<div class="photo-holder">-->

      <!--<img ng-repeat="photo in place.photos" ng-src="{{photo.url}}" class="photo img-rounded"/>-->
    <!--</div>-->
  <!--</div>-->

  <!-- Events -->
  <div class="event-viewer space-top-large">
    <div class="container">
      <h2>Upcoming Events</h2>

      <div class="row space-bottom-medium">

        <!-- Event card -->
        <div class="col-md-4">
          <div class="event space-top-small">
            <div class="space-bottom-small">We're going here after our evening class is over.</div>

            <!-- Date and Time -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-calendar"></i></div>
              <div class="col-xs-10">This Friday, June 10 at 6:00 PM</div>
            </div>

            <!-- Group -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-group"></i></div>
              <div class="col-xs-10">6 People going</div>
            </div>

            <!-- Meetup -->
            <div class="row">
              <div class="col-xs-1"><i class="fa fa-lg fa-map-marker"></i></div>
              <div class="col-xs-10">Meeting up at Metro Stop J</div>
            </div>

            <button class="btn btn-block btn-ra-green space-top-medium"><i class="fa fa-thumbs-up"></i> Count me in!</button>
          </div>
        </div>

        <!-- Event card -->
        <div class="col-md-4">
          <div class="event space-top-small">
            <div class="space-bottom-small">We're going here after our evening class is over.</div>

            <!-- Date and Time -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-calendar"></i></div>
              <div class="col-xs-10">This Friday, June 10 at 6:00 PM</div>
            </div>

            <!-- Group -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-group"></i></div>
              <div class="col-xs-10">6 People going</div>
            </div>

            <!-- Meetup -->
            <div class="row">
              <div class="col-xs-1"><i class="fa fa-lg fa-map-marker"></i></div>
              <div class="col-xs-10">Meeting up at Metro Stop J</div>
            </div>

            <button class="btn btn-block btn-ra-green space-top-medium"><i class="fa fa-thumbs-up"></i> Count me in!</button>
          </div>
        </div>

        <!-- Event card -->
        <div class="col-md-4">
          <div class="event space-top-small">
            <div class="space-bottom-small">We're going here after our evening class is over.</div>

            <!-- Date and Time -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-calendar"></i></div>
              <div class="col-xs-10">This Friday, June 10 at 6:00 PM</div>
            </div>

            <!-- Group -->
            <div class="row space-bottom-small">
              <div class="col-xs-1"><i class="fa fa-lg fa-group"></i></div>
              <div class="col-xs-10">6 People going</div>
            </div>

            <!-- Meetup -->
            <div class="row">
              <div class="col-xs-1"><i class="fa fa-lg fa-map-marker"></i></div>
              <div class="col-xs-10">Meeting up at Metro Stop J</div>
            </div>

            <button class="btn btn-block btn-ra-green space-top-medium"><i class="fa fa-thumbs-up"></i> Count me in!</button>
          </div>
        </div>
      </div>

      <div class="text-center space-bottom-medium">
        <button class="btn btn-sm btn-ra-green">See more...</button>
      </div>
    </div>
  </div>

  <!-- Share -->
  <div class="share">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h2>Share Something</h2>
        </div>

        <p>
          Share a photo!
        </p>

        <button class="btn btn-ra-red" ng-file-select="addPhoto($files)" ng-multiple="false"><i class="fa fa-photo"></i> Photo</button>

        <p>
          Share something about <strong>{{place.name}}</strong> for others to learn and enjoy.
        </p>

        <form name="form" ng-submit="addPost()">
          <div class="row">
            <div class="col-sm-9">
              <input type="text" ng-model="newPost.content" class="form-control"/>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-block btn-ra-red">Share</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Feed -->
  <div deckgrid source="place.feed" cardTemplate="app/feed/card.html" class="deckgrid"></div>
  <div class="clearfix"></div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
