  .place-page {
  .place-info {
    hr {
      border-top: 1px solid $mediumgray-dark;
    }

    .name {
      position: relative;

      a {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }
    }

    &:hover .name a {
      display: block;
    }

    .panel {
      padding-top: 10px;
    }
  }


  .photo-viewer {
    background: $darkgray-dark;
    color: white;

    .photo-holder {
      white-space: nowrap;
      height: 240px;
      width: 100%;
      overflow-x: auto;

      .photo {
        height: 200px;
        margin: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
      }
    }
  }

  .event-viewer {
    background: url(/assets/images/patterns/symphony-green.png) repeat;
    border-top: 2px solid $mediumgray-dark;
    //border-bottom: 2px solid $mediumgray-dark;

    .event-header {
      position: relative;

      a {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &:hover .event-header a {
      display: block;
    }

    .event {
      padding: 10px;
      background: white;
      border-radius: 4px;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

      &.event-going {
        background: $ra-green;
        color: white;

        hr {

        }

        .going-message {
          font-size: 18px;
        }
      }

      .event-name {
        font-size: 20px;
      }
    }
  }

  .share-section {
    background: #333;
    color: $lightgray-light;
    //margin-bottom: 20px;
    padding: 30px 0;
  }
}

.rate {
  color: $sunflower-dark;
  font-size: 20px;
}

.thumbnail {
  width: 100%;
}