<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <div class="clearfix">
      <div class="footer-logo"><a href="#" class="cursive">RoadAmico</a></div>
      <dl class="footer-nav">
        <dt class="nav-title">SERVICES</dt>
        <dd class="nav-item"><a ui-sref="search">Search</a></dd>
        <dd class="nav-item"><a ui-sref="categories.browseRoot">Browse</a></dd>
        <dd class="nav-item"><a href="#">Offer a Service</a></dd>
        <dd class="nav-item"><a href="#">Request a Service</a></dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">ABOUT</dt>
        <dd class="nav-item"><a href="#">The Company</a></dd>
        <dd class="nav-item"><a href="#">Blog</a></dd>
        <dd class="nav-item"><a href="#">Privacy Policy</a></dd>
        <dd class="nav-item"><a href="#">Terms of Use</a></dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">CONNECT WITH US</dt>
        <dd class="nav-item">
          <a href="https://www.facebook.com/roadamico"><i class="fa fa-2x fa-facebook-square"></i></a>
          <!--<a href="#"><i class="fa fa-2x fa-linked-in-square"></i></a>-->
          <!--<a href="#"><i class="fa fa-2x fa-github-square"></i></a>-->
          <!--<a href="#"><i class="fa fa-2x fa-pinterest-square"></i></a>-->
          <a href="https://twitter.com/roadamico"><i class="fa fa-2x fa-twitter-square"></i></a>
          <!--<a href="#"><i class="fa fa-2x fa-google-plus-square"></i></a>-->
        </dd>
      </dl>
      <dl class="footer-nav">
        <dt class="nav-title">CONTACT</dt>
        <dd class="nav-item"><a href="#" ng-click="contactUs()">Contact Us</a></dd>
      </dl>
    </div>
    <div class="footer-copyright text-center">Copyright © 2015 RoadAmico. All rights reserved.</div>
  </div>
</footer>
