<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="media-selector">

      <form name="form" novalidate ng-submit="share()">

        <!-- Embed -->
        <div class="form-group" ng-hide="data.file || data.embed" ng-class="{ 'has-error' : form.url.$invalid }">
          <div ng-hide="loading">
            <label for="url">Enter URL:</label>
            <input id="url" name="url" type="text" class="form-control space-top-small space-bottom-small" placeholder="http://..."
                   ng-model="data.url" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
          </div>
          <div class="text-center" ng-show="loading">
            <i class="fa fa-3x fa-spinner fa-spin"></i>
          </div>

        </div>

        <div class="form-group" ng-hide="data.file || data.embed">
          <label for="file">Upload a picture:</label>
          <br/>
          <button id="file" class="btn btn-ra-red-hollow btn-sm space-right-small" ng-file-select="onFileSelect($files)" ng-multiple="false"><i class="fa fa-upload"></i> Select file</button>
          or drag and drop a file.
        </div>

        <div ng-show="data.photo">
          <img ng-src="{{data.photo}}" ng-show="data.type.indexOf('image') != -1" />
          <a href="{{data.url}}" target="_blank" ng-hide="data.type == 'image/jpeg'">{{data.url}}</a>
          <label for="imgDescription">Say something about this picture:</label>
          <textarea name="imgDescription" id="imgDescription" ng-model="data.text" class="form-control"></textarea>
        </div>

        <div ng-show="data.embed">
          <div embedded-media="data.embed"></div>
        </div>

        <div class="share">
          <button type="button" class="btn btn-ra-red" ng-show="data.file || data.embed" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>