.media-selector {

  border: 2px dashed $mediumgray-dark;
  border-radius: 10px;
  padding: 10px;

  &.dragging {
    border-color: $ra-green-dark;
    background: $ra-green-lighter;
  }

  .share {
    margin-top: 15px;
    text-align: right;
  }

  img {
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
    display: block;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
}
