.landing {
  .navbar {
    margin-bottom: 0;
  }

  .header-background {
    background: url(/assets/images/landing/businesstravel.jpg) center no-repeat;
    background-size: cover;
  }

  .learn-more {
    background: white;
    border-top: 3px solid $mediumgray-light;
    border-bottom: 3px solid $mediumgray-light;
  }

  .how-it-works {
    padding: 20px 0;
    background: #F0E2CA;
  }

  .box {
    margin: 20px;
    padding: 15px;
  }

  .pre-register {
    background: url(/assets/images/landing/travel2.jpg) center no-repeat;
    background-size: cover;
  }

  .see-you-soon {
    font-size: 30px;
    margin: 16px 0;
  }

  .footer {
    margin-top: 0;
  }
}
