.landing {
  .navbar {
    margin-bottom: 0;
  }

  .header-background {
    background: $mediumgray-light;
  }

  .how-it-works {
    padding: 20px 0;
    background: #F0E2CA;
  }

  .box {
    margin: 20px;
    padding: 15px;
  }
}
