<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Refer a Friend</h4>
</div>
<form name="referForm" ng-submit="$close(referral)" novalidate>
  <div class="modal-body">
    <p>Enter your friend's email as well as yours to let them know about RoadAmico.</p>

    <div class="form-group" ng-class="{ 'has-error' : referForm.email1.$invalid && !referForm.email1.$pristine }">
      <label class="sr-only" for="email1">Your Email</label>
      <input type="email" class="form-control" id="email1" name="email1" placeholder="Your email" ng-model="referral.email" required ng-model-options="{updateOn:'blur'}">
      <p ng-show="referForm.email1.$invalid && !referForm.email1.$pristine" class="help-block">A valid email is required.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : referForm.email2.$invalid && !referForm.email2.$pristine }">
      <label class="sr-only" for="email2">Friend's Email</label>
      <input type="email" class="form-control" id="email2" name="email2" placeholder="Friend's email" ng-model="referral.refer" required ng-model-options="{updateOn:'blur'}">
      <p ng-show="referForm.email2.$invalid && !referForm.email2.$pristine" class="help-block">A valid email is required.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
    <button type="submit" class="btn btn-primary" ng-disabled="referForm.$invalid || referForm.$pristine">Refer</button>
  </div>
</form>
