
$ra-red: #e74c3c;
$ra-red-dark: darken($ra-red, 15%);
$ra-red-light: lighten($ra-red, 7%);
$ra-faded: #eff3f3;

// Body

body.roadAmico {
  background-color: $ra-faded;
}

.page {
  padding: 10px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

// Text

.cursive {
  font-family: 'Satisfy', cursive;
}


// Buttons

.btn {

  @at-root &-ra-red {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $ra-red;
      background-color: $ra-red;
    }
    &:hover,
    &:focus {
      border-color: $ra-red-light;
      background-color: $ra-red-light;
    }
  }

  @at-root &-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $lightgray-light;
      background-color: transparent;
    }
    &:hover,
    &:focus {
      border-color: white;
      background-color: transparent;
    }
  }

  @at-root &-ra-red-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $ra-red;
      background-color: transparent;
      color: $ra-red;
    }
    &:hover,
    &:focus {
      border-color: $ra-red;
      background-color: $ra-red;
      color: $lightgray-light;
    }
  }

  @at-root &-white-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: white;
      background-color: transparent;
      color: white;
    }
    &:hover,
    &:focus {
      border-color: white;
      background-color: white;
      color: $darkgray-light;
    }
  }
}

// Toggle button

.toggle {
  display: block;

  > span {
    display: inline-block;
    margin-right: 12px;
  }
}

// UI Select

.ui-select-bootstrap .dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
