
// Color scheme based on: http://paletton.com/#uid=3040h0knHs+dZGUjlwisap2uMjD
$ra-red: #e74c3c;
$ra-red-dark: #C72918; //Used to be: darken($ra-red, 15%);
$ra-red-darker: #9C1406;
$ra-red-light: #FF7465; //Used to be: lighten($ra-red, 7%);
$ra-red-lighter: #FF9A90;

$ra-teal: #279778;
$ra-teal-dark: #108363;
$ra-teal-darker: #04674B;
$ra-teal-light: #42A88C;
$ra-teal-lighter: #71C8B0;

$ra-green: #74CC35;
$ra-green-dark: #55B015;
$ra-green-darker: #3C8A05;
$ra-green-light: #92E159;
$ra-green-lighter: #B0EC85;

$ra-faded: #eff3f3;


// Typography


h1, .h1 {
  font-size: 32px;
}
h2, .h2 {
  font-size: 28px;
}
h3, .h3 {
  font-size: 22px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 16px;
}
h6, .h6 {
  font-size: 14px;
}

.cursive {
  font-family: 'Satisfy', cursive;
}


// Body

body.roadAmico {
  background-color: $ra-faded;
}

.page {
  padding: 10px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

// Toggle button

.toggle {
  display: block;

  > span {
    display: inline-block;
    margin-right: 12px;
  }
}

// UI Select

.ui-select-bootstrap .dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
