
$ra-red: #e74c3c;
$ra-red-dark: darken($ra-red, 15%);
$ra-red-light: lighten($ra-red, 7%);
$ra-faded: #eff3f3;

// Body

body.roadAmico {
  background-color: $ra-faded;
}

.page {
  padding: 10px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

// Text

.cursive {
  font-family: 'Satisfy', cursive;
}


// Buttons

.btn {

  @at-root &-ra-red {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $ra-red;
      background-color: $ra-red;
    }
    &:hover,
    &:focus {
      border-color: $ra-red-light;
      background-color: $ra-red-light;
    }
  }

  @at-root &-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $lightgray-light;
      background-color: transparent;
    }
    &:hover,
    &:focus {
      border-color: white;
      background-color: transparent;
    }
  }

  @at-root &-ra-red-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: $ra-red;
      background-color: transparent;
      color: $ra-red;
    }
    &:hover,
    &:focus {
      border-color: $ra-red;
      background-color: $ra-red;
      color: $lightgray-light;
    }
  }

  @at-root &-white-hollow {
    &,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    .open .dropdown-toggle.btn {
      border-color: white;
      background-color: transparent;
      color: white;
    }
    &:hover,
    &:focus {
      border-color: white;
      background-color: white;
      color: $darkgray-light;
    }
  }
}


// Chosen plugin
// TODO: Organize these better

$white-x-url: '/assets/images/white-x@2x.png';

.chosen-container.chosen-container-single, .chosen-container.chosen-container-multi  {
  min-width: 100%;
  display: block;
  margin: 5px 0;
}

.chosen-container-single {

  .chosen-search {
    margin: 10px 2px;

    input[type=text] {
      border-radius: 4px;
      padding: 5px;
      height: 30px;
    }
  }

  .chosen-single {
    background: white;
    height: 34px;
    padding: 2px 0 0 8px;
    box-shadow: none;
  }
}

.chosen-container-active.chosen-with-drop .chosen-single {
  background: white;
}

//.chosen-container-multi {
//  min-width: 100%;
//}

.chosen-container-multi .chosen-choices {
  background: white;
  border-radius: 4px;
  padding: 5px;
}

.chosen-container .chosen-results li.highlighted  {
  background: $bluejeans-light;
  border-radius: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background: $bluejeans-light;
  border: none;
  box-shadow: none;
  color: white;
  padding: 8px 20px 8px 8px;
}

.chosen-container-multi .chosen-results {
  padding: 7px;
  border-radius: 5px;
}

.chosen-container.chosen-container-multi.chosen-with-drop .chosen-drop {
  border-radius: 5px;
}

.chosen-container.chosen-with-drop .chosen-drop {
  border-radius: 0 0 5px 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background-image: url($white-x-url) !important;
  background-size: 70% !important;
  background-position: 0 0;
  right: 0;
  opacity: 0.75;

  &:hover {
    background-image: url($white-x-url) !important;
    opacity: 1;
    background-position: 0 0;
  }
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 6px;
}
.chosen-container .chosen-single div b {
  background-position: 3px 6px;
}


// Toggle button

.toggle {
  display: block;

  > span {
    display: inline-block;
    margin-right: 12px;
  }
}
