.color-ra-red {
  color: $ra-red;
}

// Dark colors
.color-bluejeans-dark {
  color: $bluejeans-dark;
}
.color-aqua-dark {
  color: $aqua-dark;
}
.color-mint-dark {
  color: $mint-dark;
}
.color-grass-dark {
  color: $grass-dark;
}
.color-sunflower-dark {
  color: $sunflower-dark;
}
.color-bittersweet-dark, {
  color: $bittersweet-dark,;
}
.color-grapefruit-dark {
  color: $grapefruit-dark;
}
.color-lavender-dark {
  color: $lavender-dark;
}
.color-pinkrose-dark {
  color: $pinkrose-dark;
}
.color-lightgray-dark {
  color: $lightgray-dark;
}
.color-mediumgray-dark {
  color: $mediumgray-dark;
}
.color-darkgray-dark {
  color: $darkgray-dark;
}

// Light colors
.color-bluejeans-light {
  color: $bluejeans-light;
}
.color-aqua-light {
  color: $aqua-light;
}
.color-mint-light {
  color: $mint-light;
}
.color-grass-light {
  color: $grass-light;
}
.color-sunflower-light {
  color: $sunflower-light;
}
.color-bittersweet-light {
  color: $bittersweet-light;
}
.color-grapefruit-light {
  color: $grapefruit-light;
}
.color-lavender-light {
  color: $lavender-light;
}
.color-pinkrose-light {
  color: $pinkrose-light;
}
.color-lightgray-light {
  color: $lightgray-light;
}
.color-mediumgray-light {
  color: $mediumgray-light;
}
.color-darkgray-light {
  color: $darkgray-light;
}


$colors:
  "ra-red" $ra-red,
  "bluejeans-light"   $bluejeans-light,
  "bluejeans-dark"    $bluejeans-dark,
  "aqua-light"        $aqua-light,
  "aqua-dark"         $aqua-dark,
  "mint-light"        $mint-light,
  "mint-dark"         $mint-dark,
  "grass-light"       $grass-light,
  "grass-dark"        $grass-dark,
  "sunflower-light"   $sunflower-light,
  "sunflower-dark"    $sunflower-dark,
  "bittersweet-light" $bittersweet-light,
  "bittersweet-dark"  $bittersweet-dark,
  "grapefruit-light"  $grapefruit-light,
  "grapefruit-dark"   $grapefruit-dark,
  "lavender-light"    $lavender-light,
  "lavender-dark"     $lavender-dark,
  "pinkrose-light"    $pinkrose-light,
  "pinkrose-dark"     $pinkrose-dark,
  "lightgray-light"   $lightgray-light,
  "lightgray-dark"    $lightgray-dark,
  "mediumgray-light"  $mediumgray-light,
  "mediumgray-dark"   $mediumgray-dark,
  "darkgray-light"    $darkgray-light,
  "darkgray-dark"     $darkgray-dark;

@each $color in $colors {
  .bg-#{nth($color, 1)} {
    background-color: nth($color, 2);
    color: white;
  }
}
