.color-bluejeans-ra-red {
  color: $ra-red;
}

// Dark colors
.color-bluejeans-dark {
  color: $bluejeans-dark;
}
.color-aqua-dark {
  color: $aqua-dark;
}
.color-mint-dark {
  color: $mint-dark;
}
.color-grass-dark {
  color: $grass-dark;
}
.color-sunflower-dark {
  color: $sunflower-dark;
}
.color-bittersweet-dark, {
  color: $bittersweet-dark,;
}
.color-grapefruit-dark {
  color: $grapefruit-dark;
}
.color-lavender-dark {
  color: $lavender-dark;
}
.color-pinkrose-dark {
  color: $pinkrose-dark;
}
.color-lightgray-dark {
  color: $lightgray-dark;
}
.color-mediumgray-dark {
  color: $mediumgray-dark;
}
.color-darkgray-dark {
  color: $darkgray-dark;
}

// Light colors
.color-bluejeans-light {
  color: $bluejeans-light;
}
.color-aqua-light {
  color: $aqua-light;
}
.color-mint-light {
  color: $mint-light;
}
.color-grass-light {
  color: $grass-light;
}
.color-sunflower-light {
  color: $sunflower-light;
}
.color-bittersweet-light {
  color: $bittersweet-light;
}
.color-grapefruit-light {
  color: $grapefruit-light;
}
.color-lavender-light {
  color: $lavender-light;
}
.color-pinkrose-light {
  color: $pinkrose-light;
}
.color-lightgray-light {
  color: $lightgray-light;
}
.color-mediumgray-light {
  color: $mediumgray-light;
}
.color-darkgray-light {
  color: $darkgray-light;
}


// Backgrounds
.bg-ra-red {
  background-color: $ra-red;
  color: white;
}


.bg-bluejeans-dark {
  background-color: $bluejeans-dark;
  color: white;
}
.bg-aqua-dark {
  background-color: $aqua-dark;
  color: white;
}
.bg-mint-dark {
  background-color: $mint-dark;
  color: white;
}
.bg-grass-dark {
  background-color: $grass-dark;
  color: white;
}
.bg-sunflower-dark {
  background-color: $sunflower-dark;
  color: white;
}
.bg-bittersweet-dark, {
  background-color: $bittersweet-dark;
  color: white;
}
.bg-grapefruit-dark {
  background-color: $grapefruit-dark;
  color: white;
}
.bg-lavender-dark {
  background-color: $lavender-dark;
  color: white;
}
.bg-pinkrose-dark {
  background-color: $pinkrose-dark;
  color: white;
}
.bg-lightgray-dark {
  background-color: $lightgray-dark;
  color: black;
}
.bg-mediumgray-dark {
  background-color: $mediumgray-dark;
  color: white;
}
.bg-darkgray-dark {
  background-color: $darkgray-dark;
  color: white;
}

.bg-bluejeans-light {
  background-color: $bluejeans-light;
  color: white;
}
.bg-aqua-light {
  background-color: $aqua-light;
  color: white;
}
.bg-mint-light {
  background-color: $mint-light;
  color: white;
}
.bg-grass-light {
  background-color: $grass-light;
  color: white;
}
.bg-sunflower-light {
  background-color: $sunflower-light;
  color: white;
}
.bg-bittersweet-light {
  background-color: $bittersweet-light;
  color: white;
}
.bg-grapefruit-light {
  background-color: $grapefruit-light;
  color: white;
}
.bg-lavender-light {
  background-color: $lavender-light;
  color: white;
}
.bg-pinkrose-light {
  background-color: $pinkrose-light;
  color: white;
}
.bg-lightgray-light {
  background-color: $lightgray-light;
  color: black;
}
.bg-mediumgray-light {
  background-color: $mediumgray-light;
  color: black;
}
.bg-darkgray-light {
  background-color: $darkgray-light;
  color: white;
}
