// Dark colors
.color-bluejeans-dark {
  color: $bluejeans-dark;
}
.color-aqua-dark {
  color: $aqua-dark;
}
.color-mint-dark {
  color: $mint-dark;
}
.color-grass-dark {
  color: $grass-dark;
}
.color-sunflower-dark {
  color: $sunflower-dark;
}
.color-bittersweet-dark, {
  color: $bittersweet-dark,;
}
.color-grapefruit-dark {
  color: $grapefruit-dark;
}
.color-lavender-dark {
  color: $lavender-dark;
}
.color-pinkrose-dark {
  color: $pinkrose-dark;
}
.color-lightgray-dark {
  color: $lightgray-dark;
}
.color-mediumgray-dark {
  color: $mediumgray-dark;
}
.color-darkgray-dark {
  color: $darkgray-dark;
}

// Light colors
.color-bluejeans-light {
  color: $bluejeans-light;
}
.color-aqua-light {
  color: $aqua-light;
}
.color-mint-light {
  color: $mint-light;
}
.color-grass-light {
  color: $grass-light;
}
.color-sunflower-light {
  color: $sunflower-light;
}
.color-bittersweet-light {
  color: $bittersweet-light;
}
.color-grapefruit-light {
  color: $grapefruit-light;
}
.color-lavender-light {
  color: $lavender-light;
}
.color-pinkrose-light {
  color: $pinkrose-light;
}
.color-lightgray-light {
  color: $lightgray-light;
}
.color-mediumgray-light {
  color: $mediumgray-light;
}
.color-darkgray-light {
  color: $darkgray-light;
}
