$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'bootflatv2/bootflat/scss/bootflat';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_branding.scss';
@import '_buttons.scss';
@import '_coloring.scss';
@import '_padding.scss';
@import 'account/finalize/finalize.scss';
@import 'account/groups/create/create.scss';
@import 'account/groups/edit/edit.scss';
@import 'account/groups/form/groupForm.scss';
@import 'account/login/login.scss';
@import 'account/profile/profile.scss';
@import 'account/resetPassword/resetPassword.scss';
@import 'admin/admin.scss';
@import 'admin/editCategories/editCategories.scss';
@import 'admin/grantAccess/grantAccess.scss';
@import 'admin/users/users.scss';
@import 'admin/verify/verify.scss';
@import 'categories/browse/browse.scss';
@import 'directives/calendar/calendar.scss';
@import 'directives/colorpicker/colorpicker.scss';
@import 'directives/durationpicker/durationpicker.scss';
@import 'directives/embeddedMedia/embeddedMedia.scss';
@import 'directives/groupSelector/groupSelector.scss';
@import 'directives/icheck/icheck.scss';
@import 'directives/iconpicker/iconpicker.scss';
@import 'directives/mediaSelector/mediaSelector.scss';
@import 'directives/photoUploader/photoUploader.scss';
@import 'directives/serviceListing/serviceListing.scss';
@import 'directives/stepper/stepper.scss';
@import 'feed/feed.scss';
@import 'home/home.scss';
@import 'landing/landing.scss';
@import 'lists/create/create.scss';
@import 'lists/edit/edit.scss';
@import 'lists/form/listForm.scss';
@import 'lists/lists.scss';
@import 'lists/view/view.scss';
@import 'places/create/create.scss';
@import 'places/edit/edit.scss';
@import 'places/events/create/create.scss';
@import 'places/events/edit/edit.scss';
@import 'places/events/events.scss';
@import 'places/events/form/eventForm.scss';
@import 'places/events/view/view.scss';
@import 'places/form/placeForm.scss';
@import 'places/places.scss';
@import 'places/view/view.scss';
@import 'search/search.scss';
@import 'util/test/test.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
