$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'bootflatv2/bootflat/scss/bootflat';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_branding.scss';
@import '_coloring.scss';
@import '_padding.scss';
@import 'account/finalize/finalize.scss';
@import 'account/login/login.scss';
@import 'account/profile/profile.scss';
@import 'account/resetPassword/resetPassword.scss';
@import 'admin/admin.scss';
@import 'admin/editCategories/editCategories.scss';
@import 'admin/grantAccess/grantAccess.scss';
@import 'admin/users/users.scss';
@import 'admin/verify/verify.scss';
@import 'categories/browse/browse.scss';
@import 'directives/calendar/calendar.scss';
@import 'directives/colorpicker/colorpicker.scss';
@import 'directives/durationpicker/durationpicker.scss';
@import 'directives/icheck/icheck.scss';
@import 'directives/iconpicker/iconpicker.scss';
@import 'directives/serviceListing/serviceListing.scss';
@import 'directives/stepper/stepper.scss';
@import 'home/feed/feed.scss';
@import 'home/home.scss';
@import 'home/myServices/myServices.scss';
@import 'home/timeline/timeline.scss';
@import 'home/upcoming/upcoming.scss';
@import 'landing/landing.scss';
@import 'main/main.scss';
@import 'messages/messages.scss';
@import 'rate/rate.scss';
@import 'search/search.scss';
@import 'services/book/book.scss';
@import 'services/editService/editService.scss';
@import 'services/newAvailability/newAvailability.scss';
@import 'services/newService/newService.scss';
@import 'services/viewService/viewService.scss';
@import 'stream/stream.scss';
@import 'user/user.scss';
@import 'util/test/test.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
