.navbar .brand-logo {
  height: 100%;
  margin-right: 10px;
}

.navbar.navbar-inverse.navbar-red {
  background-color: $ra-red;
  color: $ra-faded;
  border-color: transparent;

  .navbar-nav {
    li > a {
      color: $ra-faded;
    }
    .active > a {
      background-color: $ra-red-dark;
    }
  }

  .navbar-brand {
    color: $ra-faded;
    font-family: 'Satisfy', cursive;
  }

  .navbar-text {
    color: $ra-faded;
  }

  .badge-light {
    color: $ra-red;
    background: $ra-faded;
  }

  .navbar-toggle {
    border-color: $ra-red-dark;
    background-color: $ra-red-dark;

    .icon-bar {
      background-color: rgba(255,255,255,0.65);
    }
  }

  .tooltip {
    width: 350px;
  }
}
