.navbar .brand-logo {
  height: 100%;
  margin-right: 10px;
}

.navbar.navbar-inverse.navbar-red {
  background-color: $ra-red;
  color: $ra-faded;
  border-color: transparent;

  .navbar-nav {
    li > a {
      color: $ra-faded;
    }
    .active > a {
      background-color: $ra-red-dark;
    }
  }

  .navbar-brand {
    color: $ra-faded;
    font-family: 'Satisfy', cursive;
  }

  .navbar-text {
    color: $ra-faded;
  }

  .badge-light {
    color: $ra-red;
    background: $ra-faded;
  }

  .navbar-toggle {
    border-color: $ra-red-dark;
    background-color: $ra-red-dark;

    .icon-bar {
      background-color: rgba(255,255,255,0.65);
    }
  }

  .tooltip {
    width: 350px;
  }

  .logout {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }


  .notificationIcon {
    position: relative;

    .notificationPopup {
      &:before {
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        content: '';
        border: solid 10px;
        border-color: transparent transparent $darkgray-light transparent;
      }

      position: absolute;
      top: 51px;
      left: 50%;
      margin-left: -125px;
      width: 250px;
      background: $darkgray-light;
      min-height: 50px;
      border-radius: 0 0 4px 4px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    .notification {
      background: lighten($darkgray-light, 10%);
      margin: 10px 0;
      padding: 10px;

      small {
        color: $mediumgray-light;
      }
    }
  }

}
