<div class="navbar navbar-inverse navbar-red navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img class="brand-logo" src="/assets/images/logo/logo-sm-white.png" alt="RoadAmico"/>
        RoadAmico <span>Beta Testing</span>
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <!-- Primary Nav -->
      <ul class="nav navbar-nav" ng-show="config.appLive || isLoggedIn()">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" ng-if="item.auth()">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <!-- Account controls -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="!config.appLive || isLoggedIn()" ng-class="{act Tesive: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/profile')}"><a href="/profile"><i class="fa fa-user"></i></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}" class="logout"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i></a></li>
      </ul>

      <!-- Search -->
      <form class="navbar-form navbar-right" role="search" ng-submit="search(searchQuery)" ng-hide="isActive('/search')">
        <div class="form-group space-right-medium">
          <input type="text" class="form-control search" ng-model="searchQuery" placeholder="Search">
        </div>
        <!--<button type="submit" class="btn btn-sm btn-white-hollow">Submit</button>-->
      </form>
    </div>
  </div>
</div>
