<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container page browse-page">
  <h1>Find Services</h1>

  <h2>{{parentCategory.name}}</h2>

  <div ng-if="subcategories.length">
    <h3>Sub-categories</h3>
    <a ui-sref="^.browse({parent: category._id})" ng-repeat="category in subcategories" class="category bg-{{category.color || 'none'}}" ng-click="select(category)">
      <i class="fa fa-{{category.icon}}"></i> {{category.name}}
    </a>
  </div>

  <div ng-if="services.length">
    <h3>Services</h3>
    <div ng-repeat="service in services" service-listing="service" remove-category="true"></div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
