.messages-page {

  .message-target {
    font-size: 16px;
    overflow: hidden;
    height: 60px;
    border: 1px solid $mediumgray-light;
    padding: 7px;
    background: white;

    &.active {
      background: lighten($bluejeans-light, 30%);
      border: 1px solid $bluejeans-light;
    }
    &:hover {
      background: $lightgray-light;
    }

    .small-pic {
      margin: 3px;
    }

    .name {
      margin-top: 10px;
    }

  }

  .message-targets {
    max-height: 400px;
    overflow-y: auto;
  }

  .message-holder {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid $mediumgray-light;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .message {
    width: 75%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: $lightgray-dark;

    &.from-me {
      background-color: $bluejeans-light;
      color: white;
      margin-left: 25%;
    }
  }
}
