<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Destinations
                </a>
                <!-- <input type="text" ng-model="todo" class="form-control"> -->
                <form role="form" ng-submit="addList()">
                    <div class="input-group">
                        <input type="text" ng-model="list" placeholder="Add new destination?" class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Add">
                        </span>
                    </div>
                </form>
                <ul ui:sortable ng:model="lists">
                    <li ng:repeat="destination in lists" class="whiteText">
                        <a ng-href="journey/create/{{destination.link}}">
                            {{destination.text}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default alter" id="menu-toggle">Final View</a>
                    <a class="btn btn-default" ng-click="create()" id="create">Create New Journey</a>
                    <a class="btn btn-default" ng-click="update()" id="update">Update Existing Journey</a>
                    <!-- <div media-selector ng-model="newEntry"></div> -->
                    <br><br>
                    <div id="hide">
                        <h2>Place name</h2>
                        <input ng-model="placeName"></input>
                        <br><br>
                        <div text-angular ng-model="newEntry.text"></div>
                    </div>
                    <br><br>
                    <div ta-bind="text" ng-model="newEntry.text"></div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#hide").toggleClass("toggleHide");

        if ($(".alter").text() === "Final View") {
            $(".alter").text("Edit");
        } else {
            $(".alter").text("Final View");
        }
    });
</script>
<script>initialize();</script>