<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container page">

  <h1>{{service.name}}</h1>
  <p>
    <span class="label">{{service.category.name}}</span>
  </p>
  <p>
    By <a href="/user/{{service.provider._id}}">{{service.provider.name}}</a>
  </p>
  <div ng-if="service.provider._id == user._id">
    <a class="space-left-small" ui-sref="service.edit({id: service._id})"><i class="fa fa-pencil"></i> Edit</a>
    <a class="space-left-small" ui-sref="service.new-slot({id: service._id})"><i class="fa fa-plus"></i> New Availability</a>
  </div>

  <hr/>
  <div>
    <h2>Description</h2>
    {{service.description}}
  </div>
  <div ng-if="service.details.length">
    <h2>Details</h2>

    <div ng-repeat="detail in service.details">
      <strong>{{detail.cost}}</strong>
      for
      <strong>{{detail.product}}</strong>
    </div>
  </div>
  <div>
    <h2>Location</h2>
    <p ng-if="service.location">{{service.location}}</p>
    <p ng-if="!service.location">No location is provided for this service.</p>

    <!-- Map -->
    <div ng-if="service.location">
      <map zoom="12" center="[35.910419, -79.049592]" scrollwheel="false"></map>
    </div>
  </div>

  <h2>Calendar</h2>
  <div calendar="service"></div>



</div>

<div ng-include="'components/footer/footer.html'"></div>
