<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Message {{name}}</h4>
</div>
<form name="referForm" ng-submit="sendMessage(messageText)" novalidate>
  <div class="modal-body">
    <textarea class="form-control" ng-model="messageText"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="$dismiss()" class="btn btn-default">Close</button>
    <button type="submit" class="btn btn-success" ng-disabled="!messageText"><i class="fa fa-send"></i> Send</button>
  </div>
</form>
