
.user-page {

  .stats {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    margin-left: -30px;
  }

  .bio {
    background: white;
    padding: 15px;
    border-radius: 5px;
  }
}
