<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container user-page page">
  <div class="row space-bottom-large">
    <div class="col-md-4">
      <div class="profile-pic-placeholder">
        <div class="profile-pic" style="background-image: url({{user.photo | https}})"></div>
      </div>
    </div>
    <div class="col-md-8">
      <h1>{{user.name}}</h1>
      <div ng-if="user.verification.status == 'approved'" class="space-bottom-small">
        <span class="label label-success"><i class="fa fa-check"></i> Verified Account</span>
      </div>
      <div>
        <button class="btn btn-primary"><i class="fa fa-plus"></i> Add to List</button>
        <button class="btn btn-primary" ng-click="message(user)"><i class="fa fa-comment"></i> Message</button>
      </div>
    </div>
  </div>

  <div class="row space-bottom-large">
    <div class="col-md-4">

      <!-- Stats 1 -->
      <div class="stats bg-ra-red space-bottom-large">
        <div><i class="fa fa-thumbs-up"></i> 24 Recommended</div>
        <div><i class="fa fa-check"></i> 82 Booked</div>
        <div>Joined {{joined | date:'MMMM dd, yyyy'}}</div>
      </div>

      <!-- Stats 2 -->
      <div class="stats bg-lavender-light space-bottom-large" ng-show="user.phone || user.location || user.workplace">
        <div class="space-bottom-small" ng-if="user.phone">
          <div><strong>Phone:</strong></div>
          <div>{{user.phone}}</div>
        </div>

        <div class="space-bottom-small" ng-if="user.location">
          <div><strong>Address:</strong></div>
          <div>{{user.location}}</div>
        </div>

        <div class="space-bottom-small" ng-if="user.workplace">
          <div><strong>Workplace:</strong></div>
          <div>{{user.workplace}}</div>
        </div>
      </div>

      <!-- Stats 3 -->
      <div class="stats bg-bluejeans-light">
        <p><strong>37 reviews</strong></p>
        <p class="space-top-small">
          <i class="fa fa-quote-left"></i> <em>Really personable and earnest...</em>
          <br/>– Happy Harry
        </p>
        <p class="space-top-small">
          <i class="fa fa-quote-left"></i> <em>Services are ok, but really willing to be there for you...</em>
          <br/>– Satisfied Sally
        </p>
        <button class="btn btn-white-hollow space-top-medium"><i class="fa fa-heart"></i> See more</button>
      </div>

    </div>
    <div class="col-md-8">

      <!-- About -->
      <div ng-show="user.bio">
        <h2 class="text-center">About</h2>
        <p class="bio">
          {{user.bio}}
        </p>
      </div>

      <!-- Map -->
      <div ng-if="user.location">
        <map zoom="12" center="[35.910419, -79.049592]" scrollwheel="false"></map>
      </div>

      <!-- Services -->
      <div>
        <h2 class="text-center">Services</h2>

        <p ng-hide="services.length">This user isn't offering any services.</p>
        <div ng-repeat="service in services" class="service">
          <div class="name">{{service.name}} <span class="label">{{service.category.name}}</span></div>
          <div class="description">{{service.description}}</div>
          <button class="btn btn-ra-red"><i class="fa fa-book"></i> Book Now!</button>
          <a class="space-left-small" href="/service/view/{{service._id}}">View</a>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row space-bottom-large" ng-show="user.phone || user.location || user.workplace">-->
    <!--<div class="col-md-4 space-large-top">-->
      <!--<div class="stats bg-lavender-light">-->
        <!--<div class="space-bottom-small" ng-if="user.phone">-->
          <!--<div><strong>Phone:</strong></div>-->
          <!--<div>{{user.phone}}</div>-->
        <!--</div>-->

        <!--<div class="space-bottom-small" ng-if="user.location">-->
          <!--<div><strong>Address:</strong></div>-->
          <!--<div>{{user.location}}</div>-->
        <!--</div>-->

        <!--<div class="space-bottom-small" ng-if="user.workplace">-->
          <!--<div><strong>Workplace:</strong></div>-->
          <!--<div>{{user.workplace}}</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8" ng-if="user.location">-->
      <!--<map zoom="12" center="[35.910419, -79.049592]"></map>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<div class="stats bg-bluejeans-light">-->
        <!--<p><strong>37 reviews</strong></p>-->
        <!--<p class="space-top-small">-->
          <!--<i class="fa fa-quote-left"></i> <em>Really personable and earnest...</em>-->
          <!--<br/>– Happy Harry-->
        <!--</p>-->
        <!--<p class="space-top-small">-->
          <!--<i class="fa fa-quote-left"></i> <em>Services are ok, but really willing to be there for you...</em>-->
          <!--<br/>– Satisfied Sally-->
        <!--</p>-->
        <!--<button class="btn btn-white-hollow space-top-medium"><i class="fa fa-heart"></i> See more</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
      <!---->
    <!--</div>-->
  <!--</div>-->

</div>
<div class="clearfix"></div>

<div ng-include="'components/footer/footer.html'"></div>
