<div class="container">
  <h1>Reset Password for {{user.email}}</h1>

  <form name="form" ng-submit="resetPassword()" novalidate>

    <!-- PASSWORD 1 -->
    <div class="form-group" ng-class="{ 'has-error' : form.password1.$invalid && !form.password1.$pristine }">
      <label>Password</label>
      <input type="password" name="password1" class="form-control" ng-model="password1" required minlength="8">
      <p ng-show="form.password1.$error.minlength" class="help-block">Password must be at least 8 characters long.</p>
    </div>

    <!-- PASSWORD 2 -->
    <div class="form-group" ng-class="{ 'has-error' : form.password2.$invalid && !form.password2.$pristine }">
      <label>Re-enter Password</label>
      <input type="password" name="password2" class="form-control" ng-model="password2" pw-check="password1" required>
      <p ng-show="form.password2.$error.pwMismatch" class="help-block">Passwords must match.</p>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine">Save</button>
  </form>
</div>
