<div class="container">
  <h1><translate>reset-password</translate> – {{user.email}}</h1>

  <form name="form" ng-submit="resetPassword()" novalidate>

    <!-- PASSWORD 1 -->
    <div class="form-group" ng-class="{ 'has-error' : form.password1.$invalid && !form.password1.$pristine }">
      <label translate>Password</label>
      <input type="password" name="password1" class="form-control" ng-model="password1" required minlength="8">
      <p ng-show="form.password1.$error.minlength" class="help-block" translate>password-length</p>
    </div>

    <!-- PASSWORD 2 -->
    <div class="form-group" ng-class="{ 'has-error' : form.password2.$invalid && !form.password2.$pristine }">
      <label translate>password-again</label>
      <input type="password" name="password2" class="form-control" ng-model="password2" pw-check="password1" required>
      <p ng-show="form.password2.$error.pwMismatch" class="help-block" translate>password-match</p>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine" translate>Save</button>
  </form>
</div>
