<p>Hello!</p>
<p>
  A request has been made to reset the password for the RoadAmico account with the email <strong>{{email}}</strong>. To
  reset your password, use the following link:
</p>
<p>
  <a href="http://www.roadamico.com/reset-password/{{id}}/{{modCode}}">http://www.roadamico.com/reset/{{id}}/{{modCode}}</a>
</p>
<p>
  The above URL is valid for 2 days, after which you'll need to request a password change again. If you didn't make this request then just ignore this email.
</p>
<p>
  Cheers,<br/>
  The RoadAmico Team
</p>
