<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 translate>sign-up</h1>
    </div>
    <div class="col-sm-12">

      <p>
        We're excited to have you on RoadAmico. To start off, tell us a little about yourself:
      </p>


      <form name="form1" ng-submit="step1(form1)" novalidate>

        <!-- Name -->
        <div class="form-group" ng-class="{ 'has-error' : form1.name.$invalid && !form1.name.$pristine }">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" ng-model="user.name" required>
          <p ng-show="form1.name.$invalid && !form1.name.$pristine" class="help-block">Name is required</p>
        </div>

        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error' : form1.email.$invalid && !form1.email.$pristine }">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" ng-change="form1.email.$setValidity('mongoose', true);" required>
          <p ng-show="form1.email.$error.required && !form1.email.$pristine" class="help-block">Please enter an email address</p>
          <p ng-show="form1.email.$error.email && !form1.email.$pristine" class="help-block">A valid email is required</p>
          <p ng-show="form1.email.$error.mongoose" class="help-block">
            {{ errors.email }}
          </p>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : form1.password.$invalid && !form1.password.$pristine }">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8" required>
          <p ng-show="form1.password.$error.required && !form1.password.$pristine" class="help-block">Password is required</p>
          <p ng-show="form1.password.$error.minlength && !form1.password.$pristine" class="help-block">Password must be at least 8 characters long</p>
        </div>

        <button type="submit" class="btn btn-ra-green" ng-disabled="form1.$invalid || form1.$pristine">Next</button>
      </form>

      <div class="space-top-large" ng-if="step1Complete">

        <p>
          Tell us a little about your study abroad.
        </p>

        <form name="form2" ng-submit="register()" novalidate>

          <!-- Destination -->
          <div class="form-group" ng-class="{ 'has-error' : form2.destination.$invalid && !form2.destination.$pristine }">
            <label for="destination">Where are you going?</label>

            <ui-select id="destination" ng-model="user.destination" close-on-select="true" title="Select destination...">
              <ui-select-match>{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="destination._id as destination in destinations | filter: $select.search">
                <div ng-bind-html="destination.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <!-- Term -->
          <div class="form-group" ng-class="{ 'has-error' : form2.term.$invalid && !form2.term.$pristine }">
            <label for="term">When will you be there?</label>

            <ui-select id="term" ng-model="user.term" close-on-select="true" title="Select term...">
              <ui-select-match>{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="term as term in terms | filter: $select.search">
                <div ng-bind-html="term | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <!-- Group -->
          <div class="form-group" ng-class="{ 'has-error' : form2.term.$invalid && !form2.term.$pristine }">
            <label for="groups">What group(s) will you be going with?</label>

            <ui-select id="groups" multiple ng-model="user.groups" close-on-select="true">
              <ui-select-match>{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="group._id as group in groups | filter: $select.search">
                <div ng-bind-html="group.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <button type="submit" class="btn btn-ra-green" ng-disabled="form2.$invalid || form2.$pristine">Create Account</button>
        </form>
      </div>

    </div>
  </div>
  <hr>
</div>
