
.profile-pic-placeholder {
  width: 200px;
  height: 200px;
  background-image: url(/assets/images/profile_placeholder.png);
  background-size: cover;
//  border: 5px solid $lightgray-light;
  border-radius: 100px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.5);
  overflow: hidden;

  .profile-pic {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.profile {
  .newCardForm {
    padding: 10px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }
}
