<div ng-include="'components/navbar/navbar.html'"></div>

<div class="profile">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <div class="profile-pic-placeholder">
            <div class="profile-pic" style="background-image: url({{user.photo | https}})">
              <button class="btn btn-ra-red-hollow" ng-file-select="onFileSelect($files)" ng-multiple="false"><i class="fa fa-upload"></i> Change picture</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h1>{{user.name}}</h1>

        <a class="btn btn-ra-red" href="/user/{{user._id}}"><i class="fa fa-user"></i> View public profile</a>
      </div>
    </div>

    <div class="row space-top-small">
      <div class="col-md-6">

        <div class="card">
          <!-- http://codepen.io/sevilayha/pen/xFcdI -->
          <form name="userForm" ng-submit="save(userForm)" novalidate>

            <h2><i class="fa fa-info-circle"></i> Personal Information</h2>

            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <label>Name</label>
              <input type="text" name="name" class="form-control" ng-model="user.name" required>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <label>Email</label>
              <input type="email" name="email" class="form-control" ng-model="user.email" required>
              <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <!-- PHONE -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
              <label>Phone Number</label>
              <input type="text" name="phone" class="form-control" ng-model="user.phone">
            </div>

            <!-- LOCATION -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.location.$invalid && !userForm.location.$pristine }">
              <label>Location</label>
              <input type="text" name="location" id='location' ng-autocomplete class="form-control" ng-model="user.location" details="user.locationDetails">
            </div>

            <!-- WORKPLACE -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.workplace.$invalid && !userForm.workplace.$pristine }">
              <label>Workplace</label>
              <input type="text" name="workplace" class="form-control" ng-model="user.workplace">
            </div>

            <!-- BIO -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.bio.$invalid && !userForm.bio.$pristine }">
              <label>Bio</label>
              <textarea ng-model="user.bio" class="form-control" name="bio"></textarea>
            </div>

            <!-- CATEGORIES -->
            <!-- TODO: Use a nicer multi-select plugin -->
            <!--<div class="form-group">-->
            <!--<label>Categories</label>-->
            <!--<select multiple name="categories" class="form-control" ng-model="user.categories" ng-options="category for category in categories"></select>-->
            <!--</div>-->

            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || userForm.$pristine">Save</button>
          </form>
        </div>

        <div class="card">
          <form name="userPrivacyForm" ng-submit="save(userPrivacyForm)" novalidate>
            <h2><i class="fa fa-eye"></i> Privacy</h2>

            <p>Select which pieces of information you would like to make public:</p>

            <div>
              <label>
                Email
                <input name="email" type="checkbox" ng-model="user.publicInfo.email" class="form-control"/>
              </label>
            </div>

            <div>
              <label>
                Phone
                <input name="phone" type="checkbox" ng-model="user.publicInfo.phone" class="form-control"/>
              </label>
            </div>

            <div>
              <label>
                Location
                <input name="location" type="checkbox" ng-model="user.publicInfo.location" class="form-control"/>
              </label>
            </div>

            <div>
              <label>
                Workplace
                <input name="workplace" type="checkbox" ng-model="user.publicInfo.workplace" class="form-control"/>
              </label>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="userPrivacyForm.$invalid || userPrivacyForm.$pristine">Save</button>
          </form>
        </div>

      </div>

      <div class="col-md-6">

        <div class="card">

          <div ng-switch="user.verification.status" class="pull-right">
            Account status:
            <span ng-switch-when="approved" class="label label-success"><i class="fa fa-check"></i> Verified</span>
            <span ng-switch-when="denied" class="label label-danger"><i class="fa fa-ban"></i> Verification Denied</span>
            <span ng-switch-when="pending" class="label label-warning"><i class="fa fa-clock-o"></i> Verification Pending</span>
            <span ng-switch-default class="label label-warning"><i class="fa fa-times"></i> Not Verified</span>
          </div>

          <div>
            <h2><i class="fa fa-certificate"></i> Account Verification</h2>
          </div>

          <div ng-switch="user.verification.status">
            <div ng-switch-when="approved">
              Your account has been verified.
            </div>

            <div ng-switch-when="denied">
              Your request has been denied. This may be due to an illegible photo or an invalid ID. Please check your
              messages for more details.
            </div>

            <div ng-switch-when="pending">
              The moderation staff has been notified of your request. You will be notified when your request has been
              processed.
            </div>

            <div ng-switch-default>
              <p>
                By verifying your account by submitting a valid government-issued photo ID, other users will know that
                you are real and trustworthy.
              </p>
              <hr/>
              <p>
                To begin the process of verifying your account, please upload a clear picture of photo ID validating
                your identity. Once you have submitted your picture, our moderation staff will verify it and either
                approve or deny your request. You will be notified when this occurs.
              </p>
              <button class="btn btn-ra-red-hollow" ng-file-select="idSelect($files)" ng-multiple="false"><i class="fa fa-upload"></i> Choose File</button>
            </div>
          </div>


        </div>

        <div class="card">
          <h2><i class="fa fa-credit-card"></i> Financial Information</h2>

          <div ng-show="user.financial.cards.length">
            <strong>Saved Cards:</strong>
            <table class="table table-striped table-bordered">
              <tr ng-repeat="card in user.financial.cards">
                <td>{{card.display}}</td>
                <td>Exp: {{card.exp.month}} / {{card.exp.year}}</td>
                <td><button class="btn btn-ra-red" ng-click="deleteCard(card.display, card._id)"><i class="fa fa-trash"></i></button></td>
              </tr>
            </table>
          </div>
          <div ng-hide="user.financial.cards.length">
            You currently don't have any cards saved.
          </div>

          <hr/>
          <button class="btn btn-ra-red-hollow" ng-click="addCard = true" ng-hide="addCard"><i class="fa fa-plus"></i> Add Card</button>

          <form name="newCardForm" ng-submit="saveCard()" ng-show="addCard" novalidate>

            <!-- NUMBER -->
            <div class="form-group" ng-class="{ 'has-error' : newCardForm.number.$invalid && !newCardForm.number.$pristine }">
              <label>Card Number</label>
              <input type="text" name="number" class="form-control" ng-model="newCard.number" required>
              <p ng-show="newCardForm.number.$invalid && !newCardForm.number.$pristine" class="help-block">Card number is required.</p>
            </div>

            <div class="row">
              <div class="col-xs-5">
                <!-- Expiration Month -->
                <div class="form-group" ng-class="{ 'has-error' : newCardForm.expMonth.$invalid && !newCardForm.expMonth.$pristine }">
                  <label>Expiration</label>
                  <select name="expMonth" ng-model="newCard.exp.month" class="form-control" required>
                    <option value="1">01 - January</option>
                    <option value="2">02 - February</option>
                    <option value="3">03 - March</option>
                    <option value="4">04 - April</option>
                    <option value="5">05 - May</option>
                    <option value="6">06 - June</option>
                    <option value="7">07 - July</option>
                    <option value="8">08 - August</option>
                    <option value="9">09 - September</option>
                    <option value="10">10 - October</option>
                    <option value="11">11 - November</option>
                    <option value="12">12 - December</option>
                  </select>
                  <p ng-show="newCardForm.expMonth.$invalid && !newCardForm.expMonth.$pristine" class="help-block">Card expiration month is required.</p>
                </div>
              </div>

              <!-- Expiration Year -->
              <div class="col-xs-3">
                <label>&nbsp;</label>
                <div class="form-group" ng-class="{ 'has-error' : newCardForm.expYear.$invalid && !newCardForm.expYear.$pristine }">
                  <select name="expYear" class="form-control" ng-model="newCard.exp.year" ng-options="year for year in years" required></select>
                  <p ng-show="newCardForm.expYear.$invalid && !newCardForm.expYear.$pristine" class="help-block">Card expiration year is required.</p>
                </div>
              </div>

              <!-- CVC -->
              <div class="col-xs-3 col-xs-offset-1">
                <div class="form-group" ng-class="{ 'has-error' : newCardForm.cvc.$invalid && !newCardForm.cvc.$pristine }">
                  <label>CVC</label>
                  <input type="text" name="cvc" class="form-control" ng-model="newCard.cvc" required>
                  <p ng-show="newCardForm.cvc.$invalid && !newCardForm.cvc.$pristine" class="help-block">CVC is required.</p>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="newCardForm.$invalid || newCardForm.$pristine"><i class="fa fa-lock"></i> Save</button>

            <p class="note">
              Your privacy is important to us. Your financial information is saved using industrial-strength encryption.
              That means that only you can view it. Nobody else—not even us.
            </p>

          </form>


        </div>

      </div>

    </div>

  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
