<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container home-page page">
  <h1>Lists</h1>

  <a ui-sref="createList" ng-show="isLoggedIn()" class="btn">Create a new list</a>
  <hr/>

  <ul class="lists list-group">
    <li class="list-group-item" ng-repeat="list in lists">
      
      <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-road" aria-hidden="true"></span><a class="listname" ui-sref="list.view({id:list._id})">{{list.name}}</a></h4>
      <span class="badge badge-success" ng-hide="list.published">Unpublished</span>
        <div rating ng-model="list.rating" state-on="['fa', 'fa-star']" state-off="['fa', 'fa-star-o']"
             data-readonly="true" class="color-sunflower-dark"></div>
    </li>
  </ul>

</div>

<div ng-include="'components/footer/footer.html'"></div>
