.service-listing {
  border: 1px solid $mediumgray-dark;
  padding: 15px 8px;
  border-radius: 5px;
  margin-bottom: 20px;

  .provider-name {
    margin-top: 15px;
    display: inline-block;
  }

  .name {
    font-weight: bold;
    font-size: 16px;
  }

  .description {
    color: $darkgray-light;
    margin: 10px 0 15px 0;
  }

}
