
<form name="form" ng-submit="save(list)" novalidate>

  <!-- Name -->
  <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
    <label for="name">Name *</label>
    <input type="text" id="name" name="name" class="form-control" ng-model="list.name" required>
    <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Name is required</p>
  </div>

  <!-- Owners -->
  <div class="form-group" ng-if="groups.length">
    <label for="owners">Owners:</label>

    <ui-select id="owners" multiple ng-model="list.owners" close-on-select="false">
      <ui-select-match>{{$item.name}} ({{$item.email}})</ui-select-match>
      <ui-select-choices repeat="user._id as user in users | filter: $select.search">
        <div ng-bind-html="(user.name + ' (' + user.email + ')') | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>

  </div>

  <!-- Open -->
  <div class="form-group">
    <label class="toggle" for="open">
      <span>
        <input type="checkbox" ng-model="list.open" id="open"> <span class="handle"></span>
      </span>
      Is this list open?
    </label>
    <p>
      An open list is one where anybody can edit the contents, but can't change the settings.
    </p>
  </div>

  <!-- Published -->
  <div class="form-group">
    <label class="toggle" for="published">
      <span>
        <input type="checkbox" ng-model="list.published" id="published"> <span class="handle"></span>
      </span>
      Publish this list?
    </label>
    <p>
      When unpublished, only admins and list owners can view the list.
    </p>
  </div>

  <!-- Restriction -->
  <div class="form-group" ng-if="groups.length">
    <label for="restriction">Restrict to Group(s)</label>

    <ui-select id="restriction" multiple ng-model="list.groupRestriction" close-on-select="false">
      <ui-select-match>{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="group._id as group in groups | filter: $select.search">
        <div ng-bind-html="group.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>

  </div>

  <!-- Tags -->
  <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
    <label for="tags">Tags</label>
    <input type="text" id="tags" name="tags" class="form-control" ng-model="list.tags" ng-list>
    <p class="help-block">Enter comma-separated tags</p>
  </div>

  <div class="space-bottom-medium">
    <span class="badge badge-info space-right-small" ng-repeat="tag in list.tags">{{tag}}</span>
  </div>

  <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine"><i class="fa fa-save"></i> Save</button>
  <a ng-show="back" ui-sref="{{back}}" class="btn"><i class="fa fa-times"></i> Cancel</a>
</form>
