.list-view {

  .list-name {
    font-size: 20px;
  }

  .new-entry {
    margin: 45px 0;

    .tabs {
      background: white;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .buttons {
      padding: 10px;
      text-align: right;
    }
  }




  .text {
    padding: 20px;
    margin: 30px 20px;
  }

  .place {
    background: url(/assets/images/patterns/dark_embroidery.png) repeat;
    padding: 20px 20px 0 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.5);
    color: white;
  }

  .embed {
    padding: 20px 20px 20px 20px;
    margin: 10px 0;
    border-radius: 5px;
    background: white;

    img {
      max-width: 100%;
      max-height: 300px;
      margin: 0 auto 15px auto;
      display: block;

      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      padding: 4px;
      background-color: #fff;
      border-radius: 4px;
    }
  }

  .thumbnail {
    width: 100%;
  }

  .name {
    font-size: 18px;
  }


  .entry {
    position: relative;

    .edit-controls {
      top: 10px;
      right: 10px;
      display: inline-block;
      position: absolute;
      z-index: 2;

      button {
        padding: 1px 4px;
      }
    }
  }
}
