<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container page">
  <h1>Search</h1>

  <form name="form" ng-submit="search()">

    <div class="form-group">
      <label for="name">I'm looking for</label>
      <input type="text" name="name" id="name" class="form-control" ng-model="name" placeholder="Enter an activity"/>
    </div>

    <div class="form-group">
      <label for="location">in</label>
      <input type="text" name="location" id='location' ng-autocomplete class="form-control" ng-model="location" details="locationDetails">
    </div>

    <button class="btn btn-ra-red"><i class="fa fa-search"></i> Search</button>

  </form>

  <div ng-show="searchResults.length">
    <hr/>
    <h2>Search Results</h2>

    <div ng-repeat="result in searchResults" service-listing="result.service"></div>
  </div>
</div>
