.search-page {
  .title {
    font-size: 18px;
  }

  .result {
    margin: 20px 0;
    padding: 10px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  img {
    max-width: 100%;
  }
}
